td.transaction-table-cell {
    text-align: center;
    vertical-align: middle !important;
    cursor: pointer;
}

td.transaction-table-cell-align-left {
    text-align: left;
}

td.transaction-table-cell-align-right {
    text-align: right;
}

span.debit {
    color: red;
}

span.credit {
    color: green;
}